*, *::before, *::after {
  box-sizing: border-box;
}

.tab-head {
  color: #000;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab-head .item {
  cursor: pointer;
  font-size: 20px;
  padding: 8px 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.tab-head .item:hover {

  background-color: #ccc;
}

.tab-head .item.active {

  color: #fff;
  background-color: #616161;
}

/* 所有使用 CustomElementRegistry.define() 的 Tag 都上色 */
:defined {
  border-left: 2px solid rebeccapurple;
}

/* component 的根 styling */
:host {

  width: 1000px;
  border: 1px solid #ccc;
  box-shadow: 8px 8px 10px 2px rgba(0,0,0,0.5);
}

/* 根據 tag 上的屬性來設定 :host 的樣式 */
:host(.bg-light-green) {
  background-color: #66ff16;
}

/* 根據外部的 dom 來設定 :host 的樣式 */
:host-context(.thin) {
  width: 700px;
  box-shadow: none;
}

/* Selects any <span> placed inside a slot */
::slotted(div) {
  font-weight: 900;

  padding: 8px 24px;
  background-color: #ffffff;
  animation: fadeIn 0.5s ease-in-out;
}
